<!doctype html>
<html lang="en">

<head>
   
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Stenos is an iOS multilingual app that transcribes speech to notes">
    <meta name="keywords" content="stenos, multi-lingual, stenos app, ios speech to text, hindi transcription, spanish trnscription, german transcription">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title>Stenos - A Multi-lingual Mobile App</title>
    
    <!--====== Favicon Icon ======-->
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="assets/images/apple-touch-icon_1.webp">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/android-chrome-192x192.webp">
    <link rel="icon" type="image/png" sizes="512x512"  href="assets/images/android-icon-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.webp">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.webp">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" crossorigin="anonymous">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css">
    
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/custom-animation.css">
    <link rel="stylesheet" href="assets/css/default.css">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css">
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215437947-1">
    </script>
    <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'UA-215437947-1');
    </script>
</head>

<body>

    <!--====== OFFCANVAS MENU PART START ======-->

    <div class="off_canvars_overlay">

    </div>
    <div class="offcanvas_menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="offcanvas-brand text-center mb-40">
                            <img src="assets/stenos-logo.webp" alt="Stenos app logo">
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active"><a href="index.html#home">Home</a></li>
                                <li class="menu-item-has-children active"><a href="index.html#features">Features</a></li>
                                <li class="menu-item-has-children active"><a href="index.html#privacy">Privacy</a></li>
                                <li class="menu-item-has-children active"><a href="multilingual.html">Multilingual</a></li>
                            </ul>
                        </div>
                        <div class="footer-widget-info">
                            <ul>
                                <li><a href="#"><i class="fal fa-envelope"></i>contact@stenos.io</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== OFFCANVAS MENU PART ENDS ======-->

    <!--====== PART START ======-->

    <header class="appie-header-area appie-sticky">
        <div class="container">
            <div class="header-nav-box header-nav-box-6">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-4 col-sm-5 col-6 order-1 order-sm-1">
                        <div class="appie-logo-box">
                            <a href="#">
                                <img src="assets/logo.webp" alt="Stenos app logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-1 col-sm-1 order-3 order-sm-2">
                        <div class="appie-header-main-menu">
                            <ul>
                                <li><a href="index.html#home">Home</a></li>
                                 <li><a href="index.html#features">Features</a></li>
                                 <li><a href="index.html#privacy">Privacy</a>
                                 <li><a href="multilingual.html">Multilingual</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--====== PART ENDS ======-->

    <!--====== APPIE HERO PART START ======-->
    
    <section class="appie-hero-area appie-hero-6-area" id="home">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="appie-hero-thumb-6">
                        <div class="thumb wow animated fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <img src="assets/images/hero-thumb-7.webp" alt="Stenos note app">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="appie-hero-content appie-hero-content-6">
                        <span>Stenos: Automatic notes for your meetings</span>
                        <h1 class="appie-title">A multi-lingual mobile app</h1>
			<ul>
                            <li><a href="https://apps.apple.com/nl/app/stenos/id1585813902"><i class="fab fa-apple"></i> <span>Available on the <span>App Store</span></span></a></li>
                        </ul>
                    </div>
		</div>
            </div>
        </div>
    </section>
    
    <!--====== APPIE HERO PART ENDS ======-->

<section class="blogpage-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-7" style="flex: 0 0 100%; max-width: 100%;">
                        <div class="single-post-area">
			    <blockquote>
                                <p>
                                Stenos app can be very helpful for busy professionals. If you're often on the go or talk quicker than you can write, this special app can help you save time by converting your recordings into notes.
				</p>
                            </blockquote>
                            <p>
			    Stenos combines artificial intelligence to the human voice. If you are a foreigner studying at a college and would like to record your class lectures from different languages, or if you attend a lot of business meetings in different languages and would rather record the audio now and see it later, Stenos may be your new best friend.
			    </p>
			    <p> 
			    Stenos is extremely useful for capturing long-form audio from any language, turning it into notes, and check it later. This makes it ideal for taking notes and not missing a single word throughout a speech or meeting.
			    </p>
                            <h4 class="article-title">
                                Why does being multi-lingual matter?
                            </h4>
			    <blockquote>
                                <p>
                                "It's multilingual mobile apps like Stenos that allow a company to conduct business in different countries around the world."
				</p>
                            </blockquote>
                            <p>
			    Businesses are no longer limited to their local location in today's global society. They are becoming more widely available on a global scale, touching every nook and corner of the world.  When considering business around the globe, one factor that plays an important part in business growth is language. Since you are already aware that not everyone on the planet speaks English as their first language, it is possible that you may fail to serve non-native English speakers. This might limit your business's scope and profitability.
			    </p>
                            <p>
			    So, how do you deal with this condition? How can non-native English speakers be entertained? The best answer to these questions, according to our recommendation, is to use a Multilingual app like Stenos.
                            </p>
                            <blockquote>
                                <p>
				"Stenos helps businesses to reach new markets and provide a more tailored experience to their customers. It also helps to keep the transparency and portability intact."
				</p>
                            </blockquote>
                            <p>
			    As nearly every company wants to conduct business in different regions of the world and enjoy profits, multilingual mobile apps like Stenos are leading the trend! Now you can record business conversations from any other language and Stenos will convert them into a textual format in just a single click. This feature provides access to users internationally. It contributes to business transparency and mobility. It also offers a strategic results-driven approach to ensure increased income and a high return on investment.</p><p>  There is a long list of languages Stenos supports:
				<ul style="padding-left:25px !important">
					{list_of_languages}
				</ul>
			    </p>
                            <h4 class="article-title">
                                Download Stenos
                            </h4>
			    <p>
			    Stenos' Multilingual functionality is gaining popularity as language has become one of the most important aspects of global business. This app has become a great bonus to get more customers and expand your boundaries. <a href="https://apps.apple.com/nl/app/stenos/id1585813902">Download Stenos App</a> today and get your business to the next level!
			    </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!--====== APPIE FOOTER PART START ======-->
    
    <section class="appie-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright d-flex align-items-center justify-content-between" style="padding-top: 0 !important; margin-top:0 !important; border-top: none !important;">
                        <div class="apps-download-btn">
                        <ul>
                            <li><a href="https://apps.apple.com/nl/app/stenos/id1585813902"><i class="fab fa-apple"></i> Download for iOS</a></li>
                        </ul>
                        </div>
                        <div class="copyright-text">
                            <p>Copyright © 2022 Stenos. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== APPIE FOOTER PART ENDS ======-->


    <!--====== APPIE BACK TO TOP PART ENDS ======-->
    <div class="back-to-top back-to-top-6">
        <a href="#"><i class="fa fa-arrow-up"></i></a>
    </div>
    <!--====== APPIE BACK TO TOP PART ENDS ======-->
    
    
    <!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    
    <!--====== wow js ======-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.0.1/wow.min.js"></script>
    
    <!--====== Slick js ======-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>

</body>

</html>
